                      
    <div class="bottompro_nav_t">
              <div class="bottompro_nav_b">
                      <div class="bottompro_nav_l">
                              <div class="bottompro_nav_r">
                                      <div class="bottompro_nav_bl">
                                              <div class="bottompro_nav_br">
                                                      <div class="bottompro_nav_tl">
                                                              <div class="bottompro_nav_tr" title="Other First Commercial Products">
                                                                      <span class="medium">OTHER FIRST COMERCIAL PRODUCTS</span>
                  </div>
              </div>
          </div>
      </div>
      </div>
</div>
</div>
</div>                            
      <table width="100%" style="FONT-WEIGHT: bold; FONT-SIZE: 100%; margin: 10px 5px">         
          <tr>
          <td><img src="/git/brands/FC/teasers/car_icon_vsmall.gif" width="25" height="20" alt="Car Insurance"></td>
          <td class="medium" style="BORDER-TOP: #cccccc 1px solid; PADDING: 6px"><a href="http://www.directline.com/motor/welcome.htm" title="Information on car insurance" class="bold-normal">Car Insurance</a></td>
          <td class="medium" bgcolor="#f5d9d8" style='padding: 5px'> Save up to 10%</td>
          </tr>

          <tr>
          <td><img src="/git/brands/FC/teasers/home_icon_vsmall.gif" width="25" height="20" alt="Home Insurance"></td>
          <td class="medium" style="BORDER-TOP: #cccccc 1px solid; PADDING: 6px"><a href="http://www.directline.com/home/welcome.htm" title="Information on home insurance" class="bold-normal">Home Insurance</a></td>
          <td class="medium" bgcolor="#f5d9d8" style='padding: 5px'> Save 20%</td>
          </tr>

          <tr>
          <td><img src="/git/brands/FC/teasers/life_icon_vsmall.gif" width="25" height="20" alt="Life Insurance"></td>
          <td class="medium" style="BORDER-TOP: #cccccc 1px solid; PADDING: 6px"><a href="http://www.directline.com/life/welcome.htm" title="Information on life insurance" class="bold-normal">Life Insurance</a></td>
          <td class="medium" bgcolor="#f5d9d8" style='padding: 5px'> From 20p per day</td>
          </tr>

          <tr>
          <td><img src="/git/brands/FC/teasers/travel_icon_vsmall.gif" width="25" height="20" alt="Travel Insurance"></td>
          <td class="medium" style="BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; PADDING: 6px"><a href="http://www.directline.com/travel/welcome.htm" title="Information on travel insurance" class="bold-normal">Travel Insurance</a></td>
          <td class="medium" bgcolor="#f5d9d8" style='padding: 5px'> Save 10%</td>
          </tr>      
      </table>
