<td valign="top" style='padding-left: 10px'>
    <table style='border-collapse: collapse; border-spacing: 0px'>
      <tr>
        <td style='vertical-align: top; padding-bottom: 12px' colspan='2'>
          <a href="http://www.directline.com/van/welcome.htm" onclick="firewallFix('000024','link0001'); return false" target="_blank" title="Get a Van Insurance quote (opens in new window)">
            <img alt="Van Insurance: 10% discount on every additional van you insure with us" src="/git/brands/FC/teasers/splash_r_top.gif" style='display: block; width: 203px; border: 0px'>
          </a>
        </td>
      </tr>
      <tr>
        <td style='vertical-align: top'>
          <a href="https://business.directline.com/Tradesman.aspx?simigvis=nojavascript" onclick="firewallFix('TRADESMAN'); return false" target="_blank" title="Get a Tradesman Insurance quote (opens in new window)"><img alt="We guarantee to beat your existing business insurance renewal quote." src="/git/brands/FC/teasers/beat_a.gif" border="0" width="203" height="143"></a>
          <a href="/guarantee_to_beat/terms_conditions.html" title="Read terms &amp; conditions (opens in new window)" target="_blank"><img alt="Please read the terms &amp; conditions before buying" src="/git/brands/FC/teasers/beat_b.gif" border="0" width="203" height="14"></a>
          <a href="https://business.directline.com/Tradesman.aspx?simigvis=nojavascript" onclick="firewallFix('TRADESMAN'); return false" target="_blank" title="Get a Tradesman Insurance quote (opens in new window)"><img alt="We guarantee to beat your existing business insurance renewal quote  (Please read the terms and conditions before buying)" src="/git/brands/FC/teasers/beat_c.gif" border="0" width="203" height="43"></a>
        </td>
      </tr>
      <tr>
        <td style='vertical-align: top; padding-bottom: 12px' colspan='2'>
          <a href="http://www.directline.com/van/welcome.htm" onclick="firewallFix('000024','link0001'); return false" target="_blank" title="Get a Van Insurance quote (opens in new window)">
            <img alt="Van Insurance: 10% discount on every additional van you insure with us" src="/git/brands/FC/teasers/splash_r_top.gif" style='display: block; width: 203px; border: 0px'>
          </a>
        </td>
      </tr>
    </table>
</td>