                   
    <DIV class="right_nav_t" style="width:170px">
          <DIV class="right_nav_b">
              <DIV class="right_nav_l">
                  <DIV class="right_nav_r">
                      <DIV class="right_nav_bl">
                          <DIV class="right_nav_br">
                              <DIV class="right_nav_tl">
                                  <DIV class="right_nav_tr" title="A Good Deal Better">
                                                  <span title="A Good Deal Better" class="medium">&nbsp;&nbsp;A GOOD DEAL BETTER</span>
                                  </DIV>
                              </DIV>
                          </DIV>
                      </DIV>
                  </DIV>
              </DIV>
          </DIV>
      </div>                       
    <div class='text right' style="width:170px">

          <div style="padding:5px">
                  <span class="medium">
                          Finding comprehensive business insurance can be complicated, so let us worry
                  about insuring your business so that you can focus on running it.<br><br>
                  We provide policies that include cover such as public and products liability and employers' liability.
                  </span>
          </div>
  </div>
